/* 全体背景カラー */
html{
    background-color: #FBF9F1;
}

body{
    width: 100%; 
    /* 最大の幅を設定 */
    max-width: 1133x; 
    min-height: 100vh;
    margin: 0 auto; 
    /* 背景の設定 */
    background-image: url(../images/main_back.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* 基本設定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* デバイスのデフォルト明朝体を消す処理 */
    font-family: 'Noto Sans JP', 
                 'Hiragino Sans',
                 'Hiragino Kaku Gothic ProN',
                 'Meiryo',
                 'Yu Gothic',
                 sans-serif;
}

#opening{
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#go_ready,#go_duel{
    /* 背景色と文字色 */
    background-color: #00BFFF;
    color: #ffffff;

    /* サイズと形状 */
    margin-top: 36px;
    padding: 14px 72px;
    border: 1px solid #77a6b5;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;

    /* 「目立たせる」ためのネオン効果 */
    box-shadow: 
        0 0 5px #00BFFF,  /* 内側から出る弱い光 */
        0 0 15px rgba(0, 191, 255, 0.7), /* 外側への強いグロー */
        0 0 30px rgba(0, 191, 255, 0.4); /* さらに広がる拡散光 */
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#go_ready,#go_duel:hover {
    background-color: #33CFFF;
    color: #ffffff;
    box-shadow: 
        0 0 10px #33CFFF,
        0 0 25px 
        #33CFFF,
        0 0 50px rgba(0, 191, 255, 0.6);
    /* わずかにY軸に動かし、クリック感を視覚的に出す */
    transform: translateY(-2px);
}

/* settei.htmlのCSS */
body#settei{
    width: 100%; 
    /* 最大の幅を設定 */
    max-width: 1133x; 
    min-height: 100vh;
    margin: 0 auto; 
    /* 背景の設定 */
    background-image: url(../images/sub_back.png);

}

#main_settei{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#player1,#player2,#search_word{
    width: 60%;
    max-width: 400px;
    min-width: 210px;
    height: 60px;
    margin: 20px 0px;
    padding: 0px 12px;
    border: 2px solid #A4A099;
    box-sizing:border-box;
    border-radius: 12px;
    font-size: 20px;
}

/* duel.htmlのCSS */
body#duel{
    width: 100%; 
    /* 最大の幅を設定 */
    max-width: 1133x; 
    min-height: 100vh;
    margin: 0 auto; 
    /* 背景の設定 */
    background-image: url(../images/duel_back.png)
}

#duel_room{
    display: flex;
}

#player1_area,#player2_area,#bookinfo_area{
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#bookinfo_area{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#player1_name,#player2_name{
    width: 180px;
    padding: 24px;
    margin: 0px 0px 24px 0px;
    background-color: #326AA6;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
}

.point{
    width: 180px;
    padding: 24px;
    margin: 0px 0px 24px 0px;
    background-color: #dddcda;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
}

.page_left{
    font-size: 20px;
}

#odai{
    width: 500px;
    padding: 12px;
    margin: 0px 0px 24px 0px;
    background-color: #dddcda;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

#book_list{
    width: 600px;
    height: 600px;
    padding: 8px;
    margin: 0px 0px 24px 0px;
    background-color: #dddcda;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book_card{
    position: relative; 
    overflow: hidden;
    width: 32%;
    height: 180px;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    border: none;
}

/* ページ数を表示するオーバーレイ */
.page_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    z-index: 5;
    
    /* 文字を中央に寄せる */
    align-items: center;
    justify-content: center;
}

.bookcover{
    width: 100px;
    object-fit: contain;
}


.text_content{
    /* width: 200px; */
    height: 150px;
    margin-left: 6px;
    margin-bottom: 24px;
    overflow:scroll;    
}

.authors{
    font-size: 12px;
    font-weight: bold;
}

.discription{
    font-size: 8px;
}

#game_option{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#one_more{
    /* 背景色と文字色 */
    background-color: #00BFFF;
    color: #ffffff;

    /* サイズと形状 */
    margin-right: 12px;
    padding: 14px 24px;
    border: 1px solid #77a6b5;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    /* 「目立たせる」ためのネオン効果 */
    box-shadow: 
        0 0 5px #00BFFF,  /* 内側から出る弱い光 */
        0 0 15px rgba(0, 191, 255, 0.7), /* 外側への強いグロー */
        0 0 30px rgba(0, 191, 255, 0.4); /* さらに広がる拡散光 */
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#one_more:hover {
    background-color: #33CFFF;
    color: #ffffff;
    box-shadow: 
        0 0 10px #33CFFF,
        0 0 25px 
        #33CFFF,
        0 0 50px rgba(0, 191, 255, 0.6);
    /* わずかにY軸に動かし、クリック感を視覚的に出す */
    transform: translateY(-2px);
}

#reset_search_word{
    width: 60%;
    max-width: 400px;
    min-width: 210px;
    height: 60px;
    padding: 0px 12px;
    border: 2px solid #A4A099;
    box-sizing:border-box;
    border-radius: 12px;
    font-size: 20px;
}